.topo ul {width: 960px; height: 34px; background:#21c16a; margin: auto; text-align: center;}
.topo ul li{display:inline; background: blue; text-align: center; }
.topo ul li a{float:left; width: 180px; height: 30px; padding: 3px 0px 0px 0px; margin:1px; background:  ; color:#fff; text-decoration:none; font-size:120%; font-family: Book Antiqua; transition: background-color 1s;}
.topo ul li a:hover{background-color: #606060; text-decoration:none; }
.topo ul li a:active{padding: 3px 0px 0px 0px;}

.viagemtx{list-style-type:none;}
.viagemtx div :hover{}
.viagemtx li a{text-decoration:none; color: #6f6f6f;}
.viagemtx li a:hover{color: #2b2b2b; }
.viagemtx li a:active{color: #1e30dd; } 

.viagcli{list-style-type:none; background:#ffffff; border-top:2px solid #d7d6d6;}
.viagcli li{width: 950px; border-bottom: 1px solid #d7d6d6; height: 50px; margin: 0px 0px 0px -40px; transition: background .4s, box-shadow .4s;}
.viagcli li:hover{background: #f0f2ea; box-shadow: 0px 1px 3px rgba(0,0,0,.1);}
.viagcli li a{transition: color .4s; text-decoration:none; color: #6f6f6f;}
.viagcli li a:hover{color: #363636;}

.selecionar{transition: background-color .4s; background: #e85c41; padding: 9px 7px 9px 7px; color: #ffffff; border:none;text-decoration:none;-moz-border-radius:6px; -webkit-border-radius:6px;}
.selecionar:hover{background-color: #dd391e;-moz-border-radius:6px; -webkit-border-radius:6px;}
.selecionar:active{padding: 8px 6px 8px 6px; margin: 0px 1px 0px 1px;}

.bt-input-pesq{transition: background-color .4s; background: #e85c41; border: 1px solid #e85c41; color: #ffffff; text-decoration:none; border-radius:6px;}
.bt-input-pesq:hover{background-color: #dd391e; border-radius:6px;}
.bt-input-pesq:active{border: none; margin: 1px;}

.pesquisar{transition: background .4s;  padding: 9px 9px 9px 12px; border-radius:6px;}
.pesquisar:hover{background: #abaca7;}
.pesquisar:active{}

.detalhes-img{transition: background .4s; border-radius:4px; width: 22px; height: 22px; background: #cecece; padding: 1px 1px 1px 1px; box-shadow: 2px 2px 5px rgba(0,0,0,.2);}
.detalhes-img:hover{ background: #9b9b9c; }
.detalhes-img:active{padding: 0px 0px 0px 0px; box-shadow: none; margin: 1px;}

.editar-img{transition: background .4s; border-radius:4px; width: 22px; height: 22px; background: #4168e8; padding: 1px 1px 1px 1px; box-shadow: 2px 2px 5px rgba(0,0,0,.2);}
.editar-img:hover{ background: #1e30dd; }
.editar-img:active{padding: 0px 0px 0px 0px; box-shadow: none; margin: 1px;}

.excluir-img{transition: background .4s; border-radius:4px; width: 22px; height: 22px; background: #e85c41; padding: 1px 1px 1px 1px; box-shadow: 2px 2px 5px rgba(0,0,0,.2);}
.excluir-img:hover{ background: #dd391e;}
.excluir-img:active{padding: 0px 0px 0px 0px; box-shadow: none; margin: 1px;}

.novo{color: #1e30dd; text-decoration:none;}
.novo:hover{color: #1e30dd; text-decoration: .line;}
.novo:active{color: #fa0606;}

.log{transition: color .4s, border .4s ;  padding: 8px 24px 8px 24px; color: #abaca7; border: 1px solid #abaca7; text-decoration:none;-moz-border-radius:6px; -webkit-border-radius:6px;}
.log:hover{border: 1px solid #000000; color: #000000;}
.log:active{padding: 7px 23px 7px 23px; margin: 0px 1px 0px 1px;}

.escolha{background: #e5e9ea; border: 1px solid #d2d2d2; color:#5d5d5f; text-decoration:none; transition: background .3s, border .3s, color .3s;-moz-border-radius:6px; -webkit-border-radius:6px;}
.escolha:hover{background: #d8d8d8; border: 1px solid #97989d; color:#3a393a;transition: background .0s, border .0s, color .0s;}
.escolha:active{background: #ffffff; border: 1px solid #aaaaac; color:#3a393a;}

.bt-input-login{background: #d8d8d8; color:#3a393a; border: 1px solid #97989d; text-decoration:none; transition: background .3s, border .3s, color .3s; -moz-border-radius:5px; -webkit-border-radius:5px; width: 70px; height: 28px; }
.bt-input-login:hover{background: #e5e9ea; color:#3a393a; border: 1px solid #d2d2d2;}
.bt-input-login:active{background: #e5e9ea; color:#3a393a; border: 1px solid #d2d2d2; width: 68px; height: 26px; margin: 1px;}

.form-cad{color: #696969;}
.form-cad:hover{color: #000000;}

.form-cancelar{color: #696969; border-top:2px solid #dedede; border-right:2px solid #8a8a8a; border-bottom:2px solid #8a8a8a; border-left:2px solid #dedede; border-radius:5px; text-decoration:none;}
.form-cancelar:hover{color: #000000;}
.form-cancelar:active{color: #000000; border-top:2px solid #8a8a8a; border-right:2px solid #dedede; border-bottom:2px solid #dedede; border-left:2px solid #8a8a8a;}

.sair_m_c{transition: background .4s, color .4s; background: #21c16a; color: #565656;}
.sair_m_c:hover{background: #abaca7; color: #000000; transition: color .0s;}
.sair_m_c:active{color: #ffffff;}

.menu_lat{transition: background .4s, color .4s; text-decoration:none; color: #464646; -moz-border-radius:6px; -webkit-border-radius:6px;}
.menu_lat:hover{background: #c9c9c9; color: #000000;}
.menu_lat:active{}

.input-link{transition: background .4s, color .4s; background:rgba(0, 0, 0, 0.0); border: none; text-decoration:none; width: 500px; height: 34px; }
.input-link:hover{background: rgba(0, 0, 0, 0.0); color:#3a393a; }
.input-link:active{background: rgba(0, 0, 0, 0.0); color:#3a393a;}

.tr-recl{transition: background .4s, color .4s;}
.tr-recl:hover{background: #e5e9ea; color:#3a393a;}
.tr-recl:active{}

.confirmar{transition: background .4s; color: #ffffff; background: #79e47b; border: none;}
.confirmar:hover{background: #47d64b; text-decoration: none;}
.confirmar:active{}

.excl{transition: background .4s; color: #ffffff; background: #e85c41; border: none;}
.excl:hover{background: #dd391e; text-decoration: none;}
.excl:active{}